@charset "UTF-8";
@font-face {
	font-family: "Brussels City Personal Used";
	src: url("BrusselsCityPersonalUsed.eot");
	src: url("BrusselsCityPersonalUsed.eot?#iefix") format("embedded-opentype"),
		url("BrusselsCityPersonalUsed.woff2") format("woff2"),
		url("BrusselsCityPersonalUsed.woff") format("woff"),
		url("BrusselsCityPersonalUsed.ttf") format("truetype"),
		url("BrusselsCityPersonalUsed.svg#BrusselsCityPersonalUsed") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: "Brussels City Personal Used", sans-serif !important;
}
.loginBG{
	background-image: url('https://cdn.discordapp.com/attachments/798061933567017002/984770969937788948/Handshake_can_be_used_in_both_countries_in_formal_or_casual_events_or_meeting_new_people.png') !important;
	background-position: top !important;
	background-size: cover !important;
}